body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #B8D6D4;
}
body div {
    width: 35%;
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(139, 50, 47);
    
}
h2 {
    width: 100%;
    text-align: center;
    color: #B8D6D4;
    margin: 5px 0;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 40px;
    text-align: center;
    background-color: rgb(221, 173, 164);
    color: rgb(139, 50, 47);
    margin: 0;
    padding: 10px 0;
}
@media (max-width : 800px){
    body div {
        width: 85%;
    }
}